<script id="bootstrap-current-user" type="text/javascript">
  <% if signed_in? %>
  	window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
  		user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    masthead: "<%= image_path('etsaclone_masthead.jpg') %>"
  }
</script>

<main id='root'></main>
