.cart-items-container {
  margin: 40px auto;
  width: 928px;
  height: auto;
  font-family: sans-serif;
  border: 1px solid red;
}

.cart-items {
  margin: auto;
  width: 100%;
}
.cart-items > li {
  display: flex;
}

.cart-item > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-image {
  margin-left: 20px;
  width: 155px;
  height: 155px;
}

.cart-item-form {
  position: absolute;
  margin-top: -140px;
  font-family: sans-serif;
  font-size: 14.5px;
  color: $darkest-gray;
}

.submit-button {
  margin-top: 24px;
  padding: 8px 0;
  width: 480%;
  text-align: center;
  border: 1px solid $light-gray;
  border-radius: 4px;
  background-color: #89c448;
  font-size: 16px;
  color: white;
}
