.item-show {
  display: flex;
  justify-content: center;
  margin: 45px auto;
  width: 928px;
  height: auto;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $light-gray;
  font-family: $sans-serif;
  font-size: 14.5px;
}

.item-show > div {
  display: inline-flex;
}

.item-show-image {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 30px;
  width: 450px;
  height: 450px;
  border: 1px solid $light-gray;
  border-radius: 4px;
}

.item-show-details {
  margin: 30px;
  width: 387px;
  height: auto;
}

.item-show-details > ul > li:first-child {
  margin-top: 60px;
  font-family: $serif;
  font-size: 22px;
  font-weight: 400;
}

.item-show-details > ul > li {
  padding: 0 0 20px 0;
}

.item-show-seller {
  color: $darkest-gray;
}

.item-show-price {
  font-size: 18px;
  font-weight: bold;
}

.overview {
  margin-top: 118px;
  padding-top: 500px;
  border-top: 1px solid $light-gray;
}

.item-show-details > ul > li:last-child {
  margin-top: 5px;
  color: $darkest-gray;
}
