.section-description-preview, .section-description-all {
  width: 100%;
}

.section-description-preview {
  margin: 36px auto 12px auto;
}

.preview-items {
  margin-bottom: 20px;
  color: $light-black;
}

.preview-items, .all-items {
  text-align: center;
  font-family: $sans-serif;
  font-size: 1.6vw;
}

.section-description-all {
  margin: 0 auto 12px auto;
}

.all-items {
  margin: 36px auto 20px auto;
  color: $darkest-gray;
}

.items-index {
  margin: auto;
  padding: 0 119px;
  border-radius: 2px;
  font-family: $sans-serif;
  font-size: 11px;
}

.items-index > ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.item-index-item {
  max-width: 12.96%;
  min-width: 150px;
  margin: 0 10.1px 20px 10.1px;
  border-top: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-bottom: 1.9px solid $dark-gray;
  border-left: 1px solid $light-gray;
  border-radius: 2px;
  background-color: white;
}

.item-image {
  width: auto\9;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid $light-gray;
}

.item-name {
  margin: 8px 0 4px 0;
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
  color: $darkest-gray;
}

.item-details {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  margin: 4px 0 8px 0;
}

.item-seller {
  display: flex;
  justify-content: flex-start;
  color: $darker-gray;
}

.item-price {
  display: flex;
  justify-content: flex-end;
  color: $green;
}

@media only screen
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .preview-items, .all-items {
      font-size: 22px;
    }

    .item-index-item {
      width: 22%;
    }
}

@media only screen
  and (min-width: 1224px) {
    .item-index-item {
      max-width: 12.73%;
    }
}
