.latest-items-index {
  width: 100%;
  margin: 36px auto 12px auto;
  font-family: $sans-serif;

  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.6vw;
    color: $light-black;
  }
}

.latest-items, .all-items {
  padding: 0 7.5vw;
  border-radius: 2px;
  margin: auto;
  font-size: 11px;

  ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}

.all-items-index {
  width: 100%;
  margin: 0 auto 12px auto;
  font-family: $sans-serif;

  h2 {
    margin: 36px auto 20px auto;
    text-align: center;
    font-size: 1.6vw;
    color: $darkest-gray;
  }
}

.item-index-item {
  max-width: 12.96%;
  min-width: 150px;
  border: 1px solid $light-gray;
  border-bottom: 1.9px solid $dark-gray;
  border-radius: 2px;
  margin: 0 10.1px 20px 10.1px;
  background-color: white;

  .item-image {
    width: auto\9;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid $light-gray;
  }

  .item-name {
    padding: 0 6px;
    margin: 8px 0 4px 0;
    text-align: left;
    font-size: 12px;
    color: $darkest-gray;
  }

  .item-details {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
    margin: 4px 0 8px 0;

    li {
      display: flex;
    }

    .item-seller {
      justify-content: flex-start;
      color: $darker-gray;
    }

    .item-price {
      justify-content: flex-end;
      color: $green;
    }
  }
}

@media only screen and (max-width: 768px) {
  .latest-items-index > h2, .all-items-index > h2 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .latest-items-index > h2, .all-items-index > h2 {
    font-size: 2.25vw;
  }
}

@media only screen and (max-width: 1024px) {
  .item-index-item {
    width: 22%;
  }
}

@media only screen and (min-width: 1224px) {
  .item-index-item {
    max-width: 12.73%;
  }
}
