.items-index {
  margin: auto;
  width: 20%;
  border: 1px solid $light-gray;
  font-family: $sans-serif;
  font-size: 10px;
}

.items-index > ul {
  display: flex;
  align-items: center;
}

.item-name {
  font-size: 11px;
}

.item-details {
  display: flex;
  justify-content: space-between;

}
.item-seller {
  display: flex;
  justify-content: flex-start;
}

.item-price {
  display: flex;
  justify-content: flex-end;
}
