.register-form-box, .signin-form-box {
  width: 40%;
  padding: .30%;
  border: 1px solid $gray;
  border-radius: 4px;
  margin: 40px auto;
  background-color: $gray;
  font-family: $sans-serif;
  font-size: 12px;
}

.register-message, .sign-in-message {
  width: 93.73%;
  padding: 3%;
  border: 1px solid $dark-gray;
  border-bottom: 0px;
  border-radius: 4px 4px 0 0;
  margin: auto;
  background-color: $lightest-gray;
  font-size: 20px;
  color: $darkest-gray;
}

.register-form, .signin-form {
  width: 83.73%;
  padding: 5% 8%;
  border: 1px solid $dark-gray;
  border-top: 0px;
  border-radius: 0 0  4px 4px;
  margin: auto;
  background-color: white;
}

.register-form input, .signin-form input {
  width: 40%;
  height: 30px;
  border: 1px solid $dark-gray;
  margin: 2px 0 8px 0;
}

.register-form input[type=submit], .signin-form input[type=submit] {
  margin: 8px 0;
  width: 90px;
  border: 1px solid $dark-gray;
  border-radius: 4px;
  background-color: $light-blue;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.signin-form input[type=submit] {
  margin: 8px 0 0 0;
}

.register-form > p {
  margin-top: 2px;
  font-size: 11px;
  color: $darker-gray;
}

#form-field {
  padding-left: 8px;
}
