// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register-form-box, .signin-form-box {
  margin: 40px auto auto auto;
  padding: 4px;
  width: 50%;
  background-color: $gray;
  border: 1px solid $gray;
  border-radius: 4px;
  font-family: $sans-serif;
  font-size: 12px;
}

.register-message, .sign-in-message {
  margin: auto;
  padding: 3%;
  width: 94%;
  background-color: $lightest-gray;
  border-top: 1px solid $dark-gray;
  border-right: 1px solid $dark-gray;
  border-left: 1px solid $dark-gray;
  border-radius: 4px 4px 0 0;
  font-size: 20px;
  color: $darkest-gray;
}

.register-form, .signin-form {
  margin: auto;
  padding: 5% 8%;
  width: 84%;
  background-color: white;
  border-left: 1px solid $dark-gray;
  border-right: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  border-radius: 0 0  4px 4px;
}

.register-form input, .signin-form input {
  margin: 2px 0 8px 0;
  border: 1px solid $dark-gray;
  width: 240px;
  height: 30px;
}

.register-form input[type=submit], .signin-form input[type=submit] {
  margin: 8px 0;
  width: 90px;
  background-color: $light-blue;
  border: 1px solid $dark-gray;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.signin-form input[type=submit] {
  margin: 8px 0 0 0;
}

.register-form > p {
  margin-top: 2px;
  font-size: 11px;
  color: $darker-gray;
}
