// logo
$dark-orange: #f56400;
// home page search button
$bright-orange: #ff6905;
// top-nav links
$blue: #0192b5;
// session form register and sign in button, and search button on other pages
$light-blue: #3cb1cb;
// font-color
$darker-gray: #3f3f3f;
// borders - outlines
$dark-gray: #dadcdc;
// borders - shadows
$gray: #edede7;
// borders - outlines
$light-gray: #e1e3df;
// background-color
$lightest-gray: #f5f5f1;
