.masthead {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.masthead-image {
  background-color: $lightest-gray;
  border-bottom: 1px solid $light-gray;
}

.masthead-image > img {
  margin: auto;
  width: 100%;
}

.masthead-message {
  position: absolute;
  top: 18%;
  right: 18%;
}

.masthead-message > li {
  font-family: 'Martel', serif;
  font-size: 2.8em;
  font-weight: 100;
  color: $light-black;
}

.masthead-message-line-1 {
  display: block;
  position: relative;
}

.masthead-message-line-2 {
  display: block;
  position: absolute;
  top: 82%;
}
