.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  background-color: white;
  font-family: $sans-serif;
  font-size: 14px;
  text-align: center;
  color: $darker-gray-2;

  .my-info, .links {
    display: flex;
    justify-content: center;
    margin-top: 5.5px;
  }

  .my-info {
    color: $blue;
  }

  .links {
    li {
      padding: 0 22px;

      &:hover {
        color: $darkest-gray;
        transition: color 0.3s;
      }
    }

    li:first-of-type {
      border-right: 1px solid $light-gray;
    }
  }

  .disclaimer {
    margin-top: 11px;
    font-size: 12px;
  }
}
