header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;

  .masthead {
    border-bottom: 1px solid $light-gray;
    background-color: $lightest-gray;

    img {
      width: 100%;
      margin: auto;
    }

    .masthead-message {
      position: absolute;
      top: 18%;
      right: 18%;

      li {
        display: block;
        font-family: 'Martel', serif;
        font-size: 2.4vw;
        font-weight: 100;
        color: $light-black;
      }

      li:first-of-type {
        position: relative;
      }

      li:last-of-type {
        position: absolute;
        top: 82%;
      }
    }

    .shop-link {
      position: absolute;
      top: 65%;
      left: 55.8%;
      padding: 0.5vw;
      border: 2px solid $darkest-gray;
      border-radius: 4px;
      font-family: $sans-serif;
      font-size: 0.85vw;
      color: $darkest-gray;

      &:hover {
        border: 1px solid $light-gray;
        background-color: $dark-orange;
        transition: background-color 0.3s;
        color: white;
      }
    }
  }
}
