.top_nav {
  background-color: white;
}
.top_nav_top {
  display: flex;
  justify-content: space-between;
  padding: 20px 128px;
  border-bottom: 1px solid $light-gray;
}

.logo > ul, .register-signin-nav > ul, .signout-nav > ul, .categories > ul {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-shopping-cart {
  padding-left: 3px;
  color: #777;
}

.cart-icon-label {
  color: #777;
}

.top_nav_bottom {
  padding: 14.5px 125px;
  border-bottom: 1px solid $light-gray;
}

.categories > ul > li {
  margin-left: 4px;
  margin-right: 20px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 100;
  color: $darker-gray-2;
}

.all-jewelry {
  padding: 12px 0;
  transition: color 0.3s;
}

.all-jewelry:hover {
  color: $darkest-gray;
  border-bottom: 3px solid $dark-orange;
}

.logo {
  font-family: $serif;
  font-size: 37px;
  color: $dark-orange;
}

.register-signin-nav, .signout-nav {
  display: flex;
  align-items: center;
  font-family: $sans-serif;
  font-size: 14px;
  color: $blue;
}

.register-signin-nav > ul > li, .signout-nav > ul > li {
  margin-right: 20px;
}

.register-signin-nav > ul > li:last-of-type {
  margin-right: 0;
}

.signout-nav > ul > li:last-of-type {
  padding-left: 20px;
  margin-right: 0;
  border-left: 1px solid $light-gray;
}
.register-link:hover, .demo-link:hover {
  border-bottom: 1px solid $blue;
}

.session-link {
  padding: 8px 9px;
  border: 1px solid $blue;
  border-radius: 4px;
}

.session-link:hover {
  background-color: $lightest-blue;
}
