<!DOCTYPE html>
<html>
  <head>
    <title>EtsAClone</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Martel:100,200,300" rel="stylesheet">
    <script src="https://use.fontawesome.com/8a7d1c6972.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
